.Main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Navigation-bar, 
.Footer{
    display: flex;
    background-color: rgb(40, 68, 225);
}

.Navigation-bar{
    padding: 12px;
    justify-content: space-between;
}

.Navigation-bar img{
    width: 35px;
    border-radius: 17.5px;
    margin-left: 45px;
}

.links{
    display: flex;
    width: 30%;
    justify-content: space-around;
    padding-top: 10px;
}

.Navigation-bar .links a{
    color: silver;
}

.Footer{
    width: 100%;
    justify-content: center;
}


.Main-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: silver;
}

.First-box, .Second-box, .Third-box, .Fourth-box{
    
    padding-top: 15px;
}

.First-box{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.First-text{
    width: 30%;
}

.First-box .First-text button{
    height: 25px;
    border-radius: 10px;
    border-color: transparent;
    background-color: lightgray;
    cursor: pointer;
    color: blue;
}

.First-box img{
    width: 40%;
    border-radius: 20px;
}

.Second-box{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.Second-img{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.Second-img img{
    width: 20%;
}

.Third-box{
    display: flex;
    width: 100%;
    justify-content: center;
}

.Third-text{
    width: 70%;
}

.Fourth-box{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
}

.Fourth-container{
    display: flex;
    justify-content: center;
    width: 50%;
    background-color: rgb(40, 68, 225);
    border-radius: 15px;
}

.Inner-container{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

#Inner-btn{
    background-color: transparent;
    border-color: black;
    border-radius: 8px;
    height: 25px;
    cursor: pointer;
    margin-top: 35px;
}